<% console.log(`usertable.ejs -> DADOS: ${JSON.stringify(dados)}`); %>
<% if (req.session.loggedin) { %>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Senha</th>
    </tr>
  </thead>
  <tbody>
    <%# let index=1; dados.forEach(user => { %>
    <!-- <tr <%#- req.session.username==user.username ? `style="color: white; font-style: bold;"` : `` %>> -->

    <% for(let i=0; i<dados.length; i++) { %>
    <tr <%- req.session.username==dados[i].username ? `style="color: white; font-style: bold;"` : `` %>>
      <td><%= dados[i].id %></td>
      <td><%= dados[i].username %></td>
      <td><%= dados[i].email %></td>
      <td><%= dados[i].celular %></td>
      <td><%= dados[i].password %></td>
    </tr>
    <% } %>
    <%# index++; }); %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5" style="font-size: 16px;"><%= `Usuários registrados: ${dados.length}` %></th>
    </tr>
  </tfoot>
</table>
<% } else { %>
<main style="padding: 20px; text-align: center; border: 10px solid red; background-color: tomato; font-size: 64px;border-radius: 150px;">
  ACESSO RESTRITO!!!<br> VOCÊ FOI PARA O SAL!!!<br> A POLÍCIA FEDERAL IRÁ APARECER NA SUA CASA AMANHÃ!!!<br>
</main>
<% } %>